.menu-body {
  max-width: 680px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin: 40px 2% 20px 2%;
  width: 46%;
}

.menu-section-title {
  font-family: Catalina_Typewriter_Light, georgia;
  font-size: 14px;
  display: block;
  font-weight: normal;
  margin: -10px 0 -10px 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.menu-section-wide {
  margin: 20px 2% 20px 2%;
  background-color: #eee;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.menu-section-wide > .menu-item {
  margin: 0 2%;
  width: 46%;
}

h1.menu-section-title {
  font-size: 60px;
  text-transform: none;
  letter-spacing: normal;
  margin-top: -80px;
  margin-bottom: 10px;
}

.menu-item {
  margin: -5px 0px;
  font-size: 16px;
}

.menu-item-name{
  font-family: Catalina_Typewriter_Light, helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-family: Catalina_Typewriter_Light, helvetica;
  font-style: italic;
  font-size: .7em;
  line-height: 1.5em;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: Catalina_Typewriter_Light, arial;
  margin-top: -49px;
}

/*
@media print {
  .menu-section-wide {
    break-after: always;
    page-break-after: always;
    -webkit-column-break-after: always;
  }
}
*/

/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at https://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2022 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Kimmy Design
 * License URL: https://www.fontspring.com/licenses/kimmy-design/webfont
 *
 *
 */
@font-face {
    font-family: 'Catalina_Typewriter_Light';
    src: url('./fonts/Catalina_Typewriter_Light-webfont.woff2') format('woff2'),
         url('./fonts/Catalina_Typewriter_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
